2doParcial/WindowsFormsFactura/WindowsFormsFactura/Connected Services/ServiceReferenceFactura/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SincronizarFechaHora">
        <s:complexType />
      </s:element>
      <s:element name="SincronizarFechaHoraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SincronizarFechaHoraResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCufd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idambiente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCufdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCufdResult" type="tns:Cufd" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cufd">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="idambiente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="modalidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nit" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EmitirFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NIT" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmitirFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmitirFacturaResult" type="tns:Factura" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Factura">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroFactura" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CUF" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDocCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombrCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lista" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SincronizarFechaHoraSoapIn">
    <wsdl:part name="parameters" element="tns:SincronizarFechaHora" />
  </wsdl:message>
  <wsdl:message name="SincronizarFechaHoraSoapOut">
    <wsdl:part name="parameters" element="tns:SincronizarFechaHoraResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerCufdSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCufd" />
  </wsdl:message>
  <wsdl:message name="ObtenerCufdSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCufdResponse" />
  </wsdl:message>
  <wsdl:message name="EmitirFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:EmitirFactura" />
  </wsdl:message>
  <wsdl:message name="EmitirFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:EmitirFacturaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="SincronizarFechaHora">
      <wsdl:input message="tns:SincronizarFechaHoraSoapIn" />
      <wsdl:output message="tns:SincronizarFechaHoraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCufd">
      <wsdl:input message="tns:ObtenerCufdSoapIn" />
      <wsdl:output message="tns:ObtenerCufdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmitirFactura">
      <wsdl:input message="tns:EmitirFacturaSoapIn" />
      <wsdl:output message="tns:EmitirFacturaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SincronizarFechaHora">
      <soap:operation soapAction="http://tempuri.org/SincronizarFechaHora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCufd">
      <soap:operation soapAction="http://tempuri.org/ObtenerCufd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmitirFactura">
      <soap:operation soapAction="http://tempuri.org/EmitirFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SincronizarFechaHora">
      <soap12:operation soapAction="http://tempuri.org/SincronizarFechaHora" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCufd">
      <soap12:operation soapAction="http://tempuri.org/ObtenerCufd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmitirFactura">
      <soap12:operation soapAction="http://tempuri.org/EmitirFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:64538/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:64538/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>