Laboratorio SOAP/WindowsFormsSERECI/WindowsFormsSERECI/Connected Services/ServiceReferenceCertificadoNac/SWSERECI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerDatosResult" type="tns:Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Persona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="carnet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="primer_ape" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="segundo_ape" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fecha_nac" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estado_civil" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtenerCertificadoNacimiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCertificadoNacimientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCertificadoNacimientoResult" type="tns:CertificadoNacimiento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CertificadoNacimiento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="carnet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="primer_ape" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="segundo_ape" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fecha_nac" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="padre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="madre" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerDatosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDatos" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDatosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerCertificadoNacimientoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCertificadoNacimiento" />
  </wsdl:message>
  <wsdl:message name="ObtenerCertificadoNacimientoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCertificadoNacimientoResponse" />
  </wsdl:message>
  <wsdl:portType name="SWSEGIPSoap">
    <wsdl:operation name="ObtenerDatos">
      <wsdl:input message="tns:ObtenerDatosSoapIn" />
      <wsdl:output message="tns:ObtenerDatosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCertificadoNacimiento">
      <wsdl:input message="tns:ObtenerCertificadoNacimientoSoapIn" />
      <wsdl:output message="tns:ObtenerCertificadoNacimientoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SWSEGIPSoap" type="tns:SWSEGIPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDatos">
      <soap:operation soapAction="http://tempuri.org/ObtenerDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCertificadoNacimiento">
      <soap:operation soapAction="http://tempuri.org/ObtenerCertificadoNacimiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SWSEGIPSoap12" type="tns:SWSEGIPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDatos">
      <soap12:operation soapAction="http://tempuri.org/ObtenerDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCertificadoNacimiento">
      <soap12:operation soapAction="http://tempuri.org/ObtenerCertificadoNacimiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SWSEGIP">
    <wsdl:port name="SWSEGIPSoap" binding="tns:SWSEGIPSoap">
      <soap:address location="http://localhost:54238/SWSERECI.asmx" />
    </wsdl:port>
    <wsdl:port name="SWSEGIPSoap12" binding="tns:SWSEGIPSoap12">
      <soap12:address location="http://localhost:54238/SWSERECI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>